.scroll-container {
  position: relative;
}
.horizontal_wrapper {
  display: flex;
  height: 100vh;
}
.scene {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
}

.process {
  width: 320px;
  flex-shrink: 0;
  height: 100vh;
}

.one-process {
}
.two-process {
  margin-top: 16vw;
}
.three-process {
  margin-top: -80vw;
}

.process-text {
  margin-left: 90px;
}

.process-h6 {
  margin-bottom: 20px;
}

.cube {
  margin: 15px;
  top: 66px;
  width: 56px;
  height: 56px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s;
}
.one-cube {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.one-cube:hover {
  transform: rotateX(230deg) rotateY(180deg) rotateZ(152deg);
}
.two-cube {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(180deg);
}
.two-cube:hover {
  transform: rotateX(225deg) rotateY(230deg) rotateZ(30deg);
}

.face {
  position: absolute;
  width: 56px;
  height: 56px;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-face {
  width: 49px; /* Меньше, чем внешние грани */
  height: 49px;
  background: var(--maxgreenyellow); /* Внутренний черный цвет */
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.front {
  transform: translateZ(28px);
}
.back {
  transform: rotateY(180deg) translateZ(28px);
}
.left {
  transform: rotateY(-90deg) translateZ(28px);
}
.right {
  transform: rotateY(90deg) translateZ(28px);
}
.top {
  transform: rotateX(90deg) translateZ(28px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(28px);
}

.dot {
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: black;
  border-radius: 50%;
}

@media screen and (min-width: 600px) {
  .scene {
    margin: 16vw 0 16vw 16vw;
  }
  .two-process {
    margin-left: 42vw;
  }
  .process-text {
    margin-left: 90px;
  }
  .three-process {
    margin-left: 120vw;
  }
}
@media screen and (min-width: 1200px) {
}
