.scroll-container {
  position: relative;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
}
.horizontal_wrapper {
  display: flex;
  height: calc(var(--vh, 1vh) * 100);
}
.scene {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
}

.process {
  margin-left: 20px;
  width: 320px;
  flex-shrink: 0;
  height: 30vh;
  position: relative;
}
/* Стили для мобильной версии */
.process-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.cube-container {
  position: fixed;
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.one-process {
  margin-top: 20vw;
}
.two-process {
  margin-top: 10vw;
}
.three-process {
  margin-top: 10vw;
}
.four-process {
  margin-left: 32vw;
}

.process-text {
  margin-left: 90px;
}
.process-h6 {
  margin-bottom: 20px;
}

.cube {
  margin: 12px;
  top: 0;
  width: 56px;
  height: 56px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.4s;
}
.one-cube {
  transform: rotateX(230deg) rotateY(180deg) rotateZ(152deg);
}

.process-text:hover + .one-cube {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.two-cube {
  transform: rotateX(236deg) rotateY(360deg) rotateZ(132deg);
}
.process-text:hover + .two-cube {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(180deg);
}
.three-cube {
  transform: rotateX(330deg) rotateY(300deg) rotateZ(90deg);
}
.process-text:hover + .three-cube {
  transform: rotateX(630deg) rotateY(180deg) rotateZ(90deg);
}

.face {
  position: absolute;
  width: 56px;
  height: 56px;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-face {
  width: 49px;
  height: 49px;
  background: var(--maxgreenyellow);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.front {
  transform: translateZ(28px);
}
.back {
  transform: rotateY(180deg) translateZ(28px);
}
.left {
  transform: rotateY(-90deg) translateZ(28px);
}
.right {
  transform: rotateY(90deg) translateZ(28px);
}
.top {
  transform: rotateX(90deg) translateZ(28px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(28px);
}

.dot {
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: black;
  border-radius: 50%;
}

@media screen and (min-width: 600px) {
  .scene {
    margin: 16vw 0 16vw 16vw;
  }
  .two-process {
    margin-left: 32vw;
  }
  .three-process {
    margin-left: 100vw;
  }
  .two-process {
    margin-top: 10vw;
  }
  .three-process {
    margin-top: -14vw;
  }
}
@media screen and (min-width: 1200px) {
}
