/* Основные стили для контейнера мячиков */
.falling-balls-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.3s;
  transform: scale(0.6);
  top: -52vh;
  /* Оптимизация для Safari iOS */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  transform: translateZ(0) scale(0.6);
  -webkit-transform: translateZ(0) scale(0.6);
}
.works-balls {
  top: -43vh;
}

.process-balls {
  top: -110vh;
}

.ball-one {
  position: absolute;
  top: 0;
  left: calc(40vw - 54px);
  width: 60px;
  height: 60px;
}
.process-ball-one {
  left: calc(35vw + 54px);
  top: -14vh;
}

.works-ball-one {
  position: absolute;
  top: -18vh;
  left: calc(63vw - 44px);
}

.ball-two {
  position: absolute;
  top: -15vh;
  left: calc(50vw + 42px);
  width: 50px;
  height: 50px;
}
.process-ball-two {
  left: calc(42vw - 147px);
  top: 1vh;
}

.works-ball-two {
top: 0;
left: calc(40vw + -124px);
}

.ball-three {
  position: absolute;
  top: 0;
  left: calc(71vw + 50px);
  width: 70px;
  height: 70px;
}
.process-ball-three {
  left: calc(68vw + 50px);
  top: -1vh;
}

.works-ball-three {
  top: -40px;
  left: calc(60vw + 76px);
}

@media (min-width: 600px) {
  .falling-balls-container {
    top: -60vh;
    transform: translateZ(0) scale(1);
    -webkit-transform: translateZ(0) scale(1);
  }
  .process-balls {
    top: -120vh;
  }
}
