@media screen and (min-width: 600px) {
  .header_logo {
    transform: scale(1.2);
  }
  .main_game {
    width: 130%;
    left: -2vw;
    top: 10vh;
  }
  .main_home-title {
    top: 23vh;
  }
  #bg-one {
    margin-left: -10vw;
  }
  #bg-desktop-one {
    display: initial;
  }
  #bg-desktop-two {
    display: initial;
  }
  .bg-process {
    display: initial;
  }
  .bg-process-one {
    display: initial;
  }
  #bg-desktop-four {
    display: initial;
  }
  #bg-four {
    display: none;
  }
  h1 {
    font-size: 20vw;
  }
  .chooseright-h1 .animated-h1 {
    font-size: 16vw;
  }
  h1.home-title::before {
    font-size: 4.56vw;
  }
  .arrowSVG {
    display: none;
  }
  h2 {
    font-size: 116px;
  }
  #service_SVG {
    transform: scale(140%);
    margin-top: -165px;
    margin-left: 6vw;
  }
  #service_SVGtwo {
    transform: scale(174%);
    margin-top: -80px;
    margin-left: 102px;
    stroke-width: 1.3px;
  }
  .services_description {
    padding-left: 20vw;
  }
  .servicesBOX-one {
    margin-left: 10vw;
  }
  .swiper-slide img,
  .swiper-slide video {
    width: min(60vw, 630px);
    left: 0;
    padding-right: 20px;
  }

  .swiper-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  #sliderWorks .work-category {
    display: none;
  }
  #sliderWorks .work-categoryIMG {
    display: initial;
  }
  .workButton {
    display: none;
  }
  .workButtonTWO {
    display: initial;
  }
}

@media screen and (min-width: 1200px) {
  .header_nav-desktop {
    display: flex;
  }
  .header_nav-mobile {
    display: none;
  }
  .main_game {
    width: 100%;
    left: 0;
    top: 10vh;
  }
  .main_home-title {
    top: 42vh;
    left: 6vw;
    text-align: left;
  }
  h1,
  .about-title-SVG {
    font-size: 11.5vw;
  }
  .chooseright-h1 .animated-h1 {
    font-size: 11.5vw;
  }
  h1.home-title::before {
    display: none;
  }
  .main_home-title_before {
    display: flex;
  }
  .mephoto {
    top: 20vh;
    left: 68vw;
  }
  .bg_main_Button {
    display: none;
  }
  .bg-process {
    fill: var(--maxgreenyellow);
    margin-left: -80px;
  }
  #bg-desktop-three {
    display: initial;
  }
  .services_list {
    text-align: right;
  }
  .services_description {
    padding-left: 8vw;
  }
  #service_SVGtwo {
    display: none;
  }
  #service_SVG {
    transform: scale(188%) scaleX(-1);
    margin-top: -180px;
    left: 448px;
    margin-left: 10vw;
  }
  #service_SVGthree {
    display: initial;
  }
}
